<!DOCTYPE html>
<html>

<head>
  <title>Figure Shop</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
      <div class="container-fluid cd-md-3">
        <a class="navbar-brand" href="/">
              <img src="https://theme.hstatic.net/1000160337/1000885200/14/logo.png?v=341" alt="" height="80" class="d-inline-block align-text-top">  
            </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto ">
            <li class="nav-item">
              <a class="nav-link mx-2 active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="/toys">Toys</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="/brand">Brand</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Company
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Blog</a></li>
                <li><a class="dropdown-item" href="#">About Us</a></li>
                <li><a class="dropdown-item" href="#">Contact us</a></li>
              </ul>
            </li>
          </ul>
          
        </div>
      </div>
    </nav>
      <br> <br>
        
    {{{body}}}
    
    <!-- footer (bottom) -->

    <div class=" my-5">

    <footer style="background-color: #eee6d3;">
      <div class="container p-4">
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-4">
            <h5 class="mb-3 text-dark">Giới thiệu Figure Việt Nam</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quia facere dignissimos at vel hic amet iusto placeat, deleniti reprehenderit, incidunt magni. Necessitatibus, voluptate? Repellat nesciunt deserunt excepturi quisquam consectetur.
            </p>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
            <h5 class="mb-3 text-dark">Các Nguồn Tham Khảo</h5>
            <ul class="list-unstyled mb-0">
              <li class="mb-1">
                <a href="https://www.youtube.com/" style="color: #4f4f4f;">Youtube</a>
              </li>
              <li class="mb-1">
                <a href="https://www.facebook.com/" style="color: #4f4f4f;">FaceBook</a>
              </li>
              
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
            <h5 class="mb-1 text-dark">Follow Việt Nam Figure trên Instagram</h5>
            <p class="mb-1 "> Địa chỉ: Quận 10, Tp. Hồ Chí Minh. Việt Nam Figure chưa có không gian trưng bày, bạn vui lòng hẹn trước khi đến
                                        <p>Điện thoại: 090 xxx xxx</p>
                                        <p>Email: support@vietnamfigure.vn</p> 
            </p>
          </div>
        </div>
      </div>
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-dark" href="/">FigureVN.com</a>
      </div>
      <!-- Copyright -->
    </footer>
  

  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>