<form action="/color/add" method="post">
    <h1>Add new color</h1>
    color name: <input type="text" name="color" id="" required>
    <br><br>

    <input class="btn btn-danger" type="submit" value="Add">
</form>